$landingBreakpointMD: 765px;
$landingBreakpointLG: 991px;
$landingBreakpointXL: 1199px;

@import 'src/assets/showcase/styles/app/landing/main';
@import 'src/assets/showcase/styles/app/landing/light';
@import 'src/assets/showcase/styles/app/landing/dark';
@import 'src/assets/showcase/styles/app/landing/header';
@import 'src/assets/showcase/styles/app/landing/hero';
@import 'src/assets/showcase/styles/app/landing/getstarted';
@import 'src/assets/showcase/styles/app/landing/components';
@import 'src/assets/showcase/styles/app/landing/themes';
@import 'src/assets/showcase/styles/app/landing/blocks';
@import 'src/assets/showcase/styles/app/landing/designer';
@import 'src/assets/showcase/styles/app/landing/templates';
@import 'src/assets/showcase/styles/app/landing/features';
